packages:
  yum:
    jq: []  # Install jq to parse JSON if needed.

files:
  "/tmp/wp-config.php":  # Sample wp-config.php file
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      <?php
      /**
       * The base configuration for WordPress.
       *
       * This file contains the following configurations:
       * * MySQL settings
       * * Secret keys
       * * Database table prefix
       *
       * @link https://codex.wordpress.org/Editing_wp-config.php
       *
       * @package WordPress
       */

      # ** MySQL settings ** #
      define('DB_NAME', 'your_db_name');
      define('DB_USER', 'your_db_user');
      define('DB_PASSWORD', 'your_db_password');
      define('DB_HOST', 'your_db_host');
      define('DB_CHARSET', 'utf8');
      define('DB_COLLATE', '');

      # ** Authentication Unique Keys and Salts **
      # You can generate these at https://api.wordpress.org/secret-key/1.1/salt/
      define('AUTH_KEY',         'your-auth-key');
      define('SECURE_AUTH_KEY',  'your-secure-auth-key');
      define('LOGGED_IN_KEY',    'your-logged-in-key');
      define('NONCE_KEY',        'your-nonce-key');
      define('AUTH_SALT',        'your-auth-salt');
      define('SECURE_AUTH_SALT', 'your-secure-auth-salt');
      define('LOGGED_IN_SALT',   'your-logged-in-salt');
      define('NONCE_SALT',       'your-nonce-salt');

      # ** Database Table prefix **
      $table_prefix = 'wp_';

      # For developers: WordPress debugging mode
      define('WP_DEBUG', false);

      # That's all, stop editing! Happy publishing.

      /** Absolute path to the WordPress directory. */
      if (!defined('ABSPATH')) {
          define('ABSPATH', dirname(__FILE__) . '/');
      }

      /** Sets up WordPress vars and included files. */
      require_once(ABSPATH . 'wp-settings.php');

